.orangedot {
  height: 15px;
  width: 15px;
  background-color: #EDAD00;
  border-radius: 50%;
  display: inline-block;
}

.space_three {
  margin-bottom: 10mm;
}

.space_two {
  margin-bottom: 5mm;
}


body {
  padding-top: 0px;
  font-family: 'Antic';font-size: 22px;
  background-color: #E1E1E1;
}
.starter-template {
  padding: 20px 30px;
  text-align: left;
}



.green_button{
  background-color: #008B8B;
  border: none; 
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  width: 430px;
}



.white_back{
  background-color: #ffffff;
  border: none; 
  color: #0a0a0a;
  box-shadow: #56585a;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  width: 430px;
  outline-color: #ffffff;
}