{% extends "bootstrap/base.html" %}

{% block title %}
Demo App
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
<link href='https://fonts.googleapis.com/css?family=Antic' rel='stylesheet'>
{% endblock %}

{% block content %}


      <div class="starter-template">
        <h1><strong>Identify The Language</strong></h1>
        <p class="space_three"></p>
        <form action="{{ url_for('home')}}" method="post">
            
          <label for="firstname">Enter Language:</label>
            <textarea class="white_back" id="firstname" name="fname" rows="2" cols="20"></textarea>
            <p class="space_two"></p>
            <button class="wide_orange_button" type="submit">Check</button>
            <p class="space_two"></p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success alert-dismissable" role="alert">
                {{message}}
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          </div>



{% endblock %}


